<div><%= flash[:notice] %></div>
<%= render 'books/info', books: @book, user: @user %> 
  <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
          <%= link_to user_path(book.user) do %>
            <% if book.user.profile_image.attached? %>
              <%= image_tag book.user.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>
          <% end %>
           </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 
</div>