<p id="notice">You have created book successfully.</p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <% if @user.profile_image.attached? %>
        <%=image_tag user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
            <th></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>

      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
        <p>Title</p>
      <%= f.text_field :title %>

        <p>Opinion</p>
        <%=f.text_area :body %>

        <%=f.submit 'Create Book' %>
      <% end %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%=@book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <div class="row">
                <% if @book.user == current_user %>
                  <%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %>
                <% end %>
              </div>
            </td>
            <td>
              <div class="row">
                <% if @book.user == current_user %>
                  <%= link_to "Destroy", book_path(@book),  class: "btn btn-sm btn-danger", method: :delete %>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  