<div><%= flash[:notice] %></div>
<%= render 'info', books: @book, user: @user %> 
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to book_path(@book.id) do %>
            <%=@book.title %>
          <% end %>
        </td>
        <td>
          <%= @book.body %>
        </td>
        <td>
          <div class="row">
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="row">
            <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </td>
      </tr>
      </tbody>
  </table>
</div>
</div>

  